@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

/* -------------- Navbar -------------- */

.navbar {
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-logo {
    margin-right: 2em;
    margin-left: 2em;
    font-weight: 900;
    font-size: 20px;
}

.navbar-logo img {
    margin-top: 0px;
    max-width: 80px;
}

.navbar-menu {
    display: flex;
    list-style: none;
}

.navbar-menu li {
    margin-right: 2em;
}

.navbar-menu li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 20px;
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 2em;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 20px;
}

.search-bar img {
    max-width: 20px;
}

.search-bar input {
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none
}

.search-bar input:focus {
    outline: none;
}

/* -------------- Slideshow -------------- */

.slideshow-container {
    padding-top: 8px;
    width: 100%;
    position: relative;
}

.slideshow-container img {
    width: 100%;
    height: auto;
}

.slideshow-container fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.prev {
    left: 0;
    padding-top: 10px;
    padding-bottom: 13px;
    padding-left: 22px;
    padding-right: 25px;
    margin-left: 25px;
}

.next {
    right: 0;
    padding-top: 10px;
    padding-bottom: 13px;
    padding-left: 22px;
    padding-right: 22px;
    margin-right: 25px;
}

.slideshow-controls {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin-bottom: 20px;
}

.slideshow-controls a {
    width: 75px;
    height: 15px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.3s;
}

.slideshow-controls a:hover {
    background-color: #f8f8f8;
}

.slideshow-controls a.active {
    background-color: #f8f8f8;
}

/* -------------- Footer -------------- */

.footer-container {
    background-color: #1d1d1d;
}
