@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    background: linear-gradient(to bottom,
        #101522,
        #000000);
    font-family: "Roboto", sans-serif;
}


/* -------------- Content -------------- */

.games-slide {
    margin-top: 110px;
    margin-bottom: 50px;
    width: 100%;
}

.games-wrap {
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-left: 75px;
}

#image-track {
    display: flex;
    gap: 6vmin;
    user-select: none;
}

.image-wrap {
    position: relative;
    width: 450px;
    height: 400px;
}

.image-wrap .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 80% center;
    border-left: 8px solid rgb(94, 136, 17);
    transition: 0.5s;
}

.image-wrap .image:hover {
    transform: scale(1.1);
}

.text-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 35px;
    margin-bottom: 25px;
}

.text-wrap .price {
    color: white;
    margin: 0;
    font-family: "Roboto Slab", serif;
    font-weight: 900;
    font-size: 35px;
}

.text-wrap .price span {
    color: rgb(112, 145, 50);
}

.text-wrap .title {
    color: white;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 0;
}

.text-wrap .platform-image {
    width: 25px;
    height: 25px;
    margin-right: 7px;
}

.text-wrap .genres {
    display: flex;
}

.text-wrap .genre {
    font-size: 15px;
    font-weight: 500;
    color: white;
    margin-right: 7px;
    margin-top: 0;
    margin-bottom: 10px;
}

.filter {
    padding: 2rem;
}

.heading {
    color: white;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    margin: 0 2rem 0 2rem;
    letter-spacing: 1px;
    border-left: 8px solid rgb(94, 136, 17);
    padding-left: 20px;
}

.games-content {
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1.5rem;
    align-items: center;
    margin: 2rem;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game img {
    width: 230px;
    height: 320px;
    border-radius: 10px;
    transition: 0.3s;
    border: 5px solid rgb(94, 136, 17, 0);
    margin-bottom: 8px;
}

.game img:hover {
    transform: scale(1.05);
    border: 5px solid rgb(94, 136, 17, 1);
}